#ESTE ES UN EJEMPLO DE COMO DEBE ESTAR EL ARCHIVO .env, DEBES CREAR UN ARCHIVO LLAMADO .env EN LA RAIZ DEL PROYECTO Y COLOCAR LAS VARIABLES DE ENTORNO QUE NECESITES
VITE_API_URL=http://localhost:3000/api